# TV series data top 250 cleaning
## Initial Cleaning

In [2]:
# import dependencies
import pandas as pd
import os

In [3]:
#define paths
file1 = "Resources/Resources_IMDB_data_Raw Data/Top 250_1.csv"
file2 = "Resources/Resources_IMDB_data_Raw Data/Top 250_2.csv"
file3 = "Resources/Resources_IMDB_data_Raw Data/Top 250_3.csv"

In [4]:
path_list = [file1, file1, file3]

In [5]:
df1 = pd.read_csv(file1)
df2 = pd.read_csv(file2)
df3 = pd.read_csv(file3)
final_df = pd.concat([ df1, df2, df2])
del final_df["Unnamed: 0"]

In [6]:
final_df = final_df.rename(columns = {'Title' : 'Link', 'url' : "Titles" })
final_df

,Link,Titles,Rank,Years of running,Certificate,Run time in minutes,Genre,Rating,Actors,Votes,Synopsis
0,/title/tt0903747/?ref_=ttls_li_tt,Breaking Bad,1,(2008–2013),MA,49,"Crime, Drama, Thriller",9.5,"['Bryan Cranston', 'Aaron Paul', 'Anna Gunn', ...",1969786,A chemistry teacher diagnosed with inoperable ...
1,/title/tt0944947/?ref_=ttls_li_tt,Game of Thrones,2,(2011–2019),MA,57,"Action, Adventure, Drama",9.2,"['Emilia Clarke', 'Peter Dinklage', 'Kit Harin...",2157720,Nine noble families fight for control over the...
2,/title/tt7366338/?ref_=ttls_li_tt,Chernobyl,3,(2019),MA,330,"Drama, History, Thriller",9.4,"['Jessie Buckley', 'Jared Harris', 'Stellan Sk...",794031,"In April 1986, an explosion at the Chernobyl n..."
3,/title/tt0185906/?ref_=ttls_li_tt,Band of Brothers,4,(2001),MA,594,"Drama, History, War",9.4,"['Scott Grimes', 'Damian Lewis', 'Ron Livingst...",482652,The story of Easy Company of the U.S. Army 101...
4,/title/tt1475582/?ref_=ttls_li_tt,Sherlock,5,(2010–2017),14,88,"Crime, Drama, Mystery",9.1,"['Benedict Cumberbatch', 'Martin Freeman', 'Un...",948481,A modern update finds the famous sleuth and hi...
...,...,...,...,...,...,...,...,...,...,...,...
95,/title/tt0060028/?ref_=ttls_li_tt,Star Trek,196,(1966–1969),PG,50,"Action, Adventure, Sci-Fi",8.4,"['William Shatner', 'Leonard Nimoy', 'DeForest...",87308,"In the 23rd Century, Captain James T. Kirk and..."
96,/title/tt0423731/?ref_=ttls_li_tt,Samurai Champloo,197,(2004–2005),MA,24,"Animation, Action, Adventure",8.6,"['Kazuya Nakai', 'Ginpei Sato', 'Ayako Kawasum...",51328,"Fuu, a waitress who works in a teahouse, rescu..."
97,/title/tt0081834/?ref_=ttls_li_tt,Das Boot,198,(1985),MA,293,"Drama, War",8.8,"['Jürgen Prochnow', 'Herbert Grönemeyer', 'Kla...",31483,A World War II German U-Boat crew have a terri...
98,/title/tt2234222/?ref_=ttls_li_tt,Orphan Black,199,(2013–2017),MA,44,"Drama, Sci-Fi, Thriller",8.3,"['Tatiana Maslany', 'Dylan Bruce', 'Jordan Gav...",113241,A streetwise hustler is pulled into a compelli...
99,/title/tt2741602/?ref_=ttls_li_tt,The Blacklist,200,(2013–2023),14,43,"Crime, Drama, Mystery",8.0,"['James Spader', 'Megan Boone', 'Diego Klatten...",260868,"A new FBI profiler, Elizabeth Keen, has her en..."

In [8]:
final_df['Year Released'] = final_df['Years of running'].str.split('(').str[1]
print(final_df['Year Released'])

0     2008–2013)
1     2011–2019)
2          2019)
3          2001)
4     2010–2017)
         ...
95    1966–1969)
96    2004–2005)
97         1985)
98    2013–2017)
99    2013–2023)
Name: Year Released, Length: 300, dtype: object

In [9]:
final_df.dtypes

Link                    object
Titles                  object
Rank                     int64
Years of running        object
Certificate             object
Run time in minutes      int64
Genre                   object
Rating                 float64
Actors                  object
Votes                    int64
Synopsis                object
Year Released           object
dtype: object

## fix year of running column

In [10]:
#save the dataframe
os.makedirs('Resources', exist_ok=True)  
IMDB_df = final_df.to_csv('Resources/IMDB_cleaned_Top 250.csv',index = True)